body {
    background: #F0F0F0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.container {
    margin-left: 80px;
    margin-right: 80px;
}

/*Navbar*/
nav {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

nav img {
    max-width: 140px;
    max-height: 45px;
    margin-left: 80px;
}

.nav-content{
    margin-right: 80px;
}

nav a {
    color: #242424;
    text-decoration: none;
    margin: 10px;
}
nav a:hover {
    color: #6570F4;
}

#login, #register {
    background-color: #FFCA28;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#register {
    background-color: #FFA000;
}
#login:hover, #register:hover {
    background-color: #6570F4;
}